@namespace view "me.yandex.poc.staff_mngmnt.view.*";
@namespace s "library://ns.adobe.com/flex/spark";

view|MainView {
	skinClass: ClassReference("me.yandex.poc.staff_mngmnt.view.skins.MainViewSkin");
}

view|WelcomeView {
    skinClass: ClassReference("me.yandex.poc.staff_mngmnt.view.skins.WelcomeViewSkin");
}

view|TransferView {
    skinClass: ClassReference("me.yandex.poc.staff_mngmnt.view.skins.TransferViewSkin");
}

view|HireView {
    skinClass: ClassReference("me.yandex.poc.staff_mngmnt.view.skins.HireViewSkin");
}

view|FilterView {
    skinClass: ClassReference("me.yandex.poc.staff_mngmnt.view.skins.FilterViewSkin");
}

view|EstablishView {
    skinClass: ClassReference("me.yandex.poc.staff_mngmnt.view.skins.EstablishViewSkin");
}

view|AbolishView {
    skinClass: ClassReference("me.yandex.poc.staff_mngmnt.view.skins.AbolishViewSkin");
}